name: packaging
on:
  - push

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install ruff
        run: python -m pip install ruff
      - name: Check formatting
        run: ruff format --check src tests

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install ruff
        run: python -m pip install ruff
      - name: Run ruff
        run: ruff check src tests

  typecheck:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install tox and tox-uv
        run: python -m pip install tox tox-uv
      - name: Run mypy
        run: tox -e typecheck

  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - version: "3.12"
            toxenv: "py312"
          - version: "3.13"
            toxenv: "py313"
          - version: "3.14"
            toxenv: "py314"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python.version }}
          allow-prereleases: true
      - name: Install tox and tox-uv
        run: python -m pip install tox tox-uv
      - name: Run tests
        run: tox -e ${{ matrix.python.toxenv }}

  build_source_dist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install build
        run: python -m pip install build
      - name: Run build
        run: python -m build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist/

  publish:
    name: Publish package
    if: startsWith(github.event.ref, 'refs/tags/v')
    needs:
      - format
      - lint
      - typecheck
      - test
      - build_source_dist
    runs-on: ubuntu-latest
    environment: pypi_releasing
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist
      - uses: pypa/gh-action-pypi-publish@release/v1
